#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/math-trainer/usr/bin
	cp -a math-trainer debian/math-trainer/usr/bin/
	mkdir -p debian/math-trainer/usr/lib/python3/dist-packages/math_trainer
	cp -a math_trainer/* debian/math-trainer/usr/lib/python3/dist-packages/math_trainer/
	mkdir -p debian/math-trainer/usr/share/applications
	cp -a math-trainer.desktop debian/math-trainer/usr/share/applications/
	mkdir -p debian/math-trainer/usr/share/doc/math-trainer
	cp -a LICENSE debian/math-trainer/usr/share/doc/math-trainer/
